
.searchResultsContainer {
  overflow-y: auto;
  width: 100%;
  height: 90vh;
}

.searchBarField {
    position: fixed;
    z-index: 10;
    top: .5vh;
    left: 20%;
    width: 30vw;
    height: 3.5vh;
    border-radius: 50px;
    padding: 10px;
  }

  .searchResults {
    position: relative;
    display: grid;
    top: 8vh;
    left: 22vw;
    justify-content: left;
    height: fit-content;
    /* width: 80%; */
  }

  .songsHeader {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    height: fit-content;
  }

  .albumsHeader {
    margin-bottom: 30px;
    margin-top: 70px;
    font-size: 32px;
    font-weight: bold;
    color: white;
  }

  .resultSongItem {
    display: flex;
    margin-bottom: 3vh;
    align-items: center;
    justify-content: left;
    width: 50vw;
    padding: 1vw;
  }

  .resultSongItem:hover {
    background-color: rgb(55, 54, 54);
    display: flex;
    cursor: pointer;
    border-radius: 10px;
  }

  .resultAlbumItem {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: left;
    width: fit-content;
  }

  .resultAlbumItem:hover {
    background-color: rgb(55, 54, 54);
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    border-radius: 10px;
  }

  #resultAlbumPhoto {
    height: 7vh;
    width: 3.5vw;
  }

  #resultTitle {
    color: white;
    margin-left: 1vw;
    margin-top: -2vh;
  }

  #resultSongAlbum {
    color: white;
    position: absolute;
    left: 30vw;
  }
