/* .pageScroll {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
} */

.searchBarField {
    position: fixed;
    z-index: 10;
    top: .2%;
    left: 20%;
    width: 30vw;
    height: 4.5vh;
    border-radius: 50px;
    padding: 10px;
  }

  /* .searchResultsContainer {
    height: 100%;
    width: 80%;
    overflow-y: scroll;
  } */

  .searchResults {
    position: fixed;
    display: grid;
    top: 10%;
    left: 20%;
    justify-content: left;
    height: 100%;
    width: 80%;
    overflow-y: scroll;
  }

  .songsHeader {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    color: white;
  }

  .albumsHeader {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    color: white;
  }

  .resultSongItem {
    display: flex;
    /* justify-content: left; */
    margin-bottom: 20px;
    align-items: center;
    justify-content: left;
    width: fit-content;
    padding: 10px;
  }

  .resultSongItem:hover {
    background-color: rgb(55, 54, 54);
    height: fit-content;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
  }

  .resultAlbumItem {
    display: flex;
    /* justify-content: left; */
    margin-bottom: 20px;
    align-items: center;
    justify-content: left;
    width: fit-content;
    padding: 10px;
  }

  .resultAlbumItem:hover {
    background-color: rgb(55, 54, 54);
    height: fit-content;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
  }

  #resultItemPhoto {
    height: 40px;
    width: 40px;
  }

  #resultTitle {
    color: white;
    margin-left: 10px;
  }

  #resultArtist {
    color: white;
    margin-left: 30px;;
  }
