.searchBarField {
    position: fixed;
    z-index: 10;
    top: 1.5%;
    left: 20%;
    width: 30vw;
    height: 4.5vh;
    border-radius: 50px;
    padding: 10px;
  }

  .searchResults {
    position: fixed;
    display: grid;
    top: 10%;
    left: 20%;
    justify-content: left;
  }

  .resultItem {
    display: grid;
    /* justify-content: left; */
    margin-bottom: 20px;
    align-items: left;
  }

  .resultItem:hover {
    cursor: pointer;
  }

  #resultItemPhoto {
    height: 40px;
    width: 40px;
  }