.sidebar {
    background-color: black;
    width: 250px;
    height: 100vh;
    position: absolute;
}

#invertImg {
    width: 160px;
    height: 55px;
    margin-top: 25px;
    margin-right: 70px;
}

.sidebarLinks {
    color: white;
}

.homeButton {
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 15px;
    align-items: center;
}

#homeImage {
    font-size: 20px;
}

.homeText {
    margin-left: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}