.sidebar {
    background-color: black;
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 9;
}

#invertImg {
    width: 160px;
    height: 55px;
    margin-top: 25px;
    margin-right: 70px;
}

.sidebarLinks {
    color: rgba(255, 255, 255, 0.779);
}

.homeButton {
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 15px;
    align-items: center;
    width: fit-content;
}

.homeButton:hover {
    color :white; 
    cursor: pointer;
}

#homeImage {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.779);
}

.homeText {
    margin-left: 18px;

}

.searchButton {
    display: flex;
    margin-left: 30px;
    margin-top: 25px;
    font-size: 15px;
    align-items: center;
    width: fit-content;
}

.searchButton:hover {
    color :white; 
    cursor: pointer;
}

#searchImage {
    font-size: 20px;
}

.searchText {
    margin-left: 18px;
}

.createPlaylistButton {
    display: flex;
    margin-left: 32px;
    margin-top: 23px;
    font-size: 15px;
    width: fit-content;
    align-items: center;
}

#createPlaylistLogo {
    font-size: 21px;
}

#createPlaylistText {
    margin-left: 18px;
}

.createPlaylistButton:hover {
    color :white; 
    cursor: pointer;
}