.albumIndex {
    display: block;
    margin-top: 100px;
    margin-left: 300px;
    background-color: #121212;
    position: absolute;
    width: fit-content;
    height: fit-content;
}

#indexAlbumText {
    color: white;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: bold;
    height: fit-content;
}

.albumList{
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.albumTitle {
    margin-bottom: 20px;
    font-size: 16px;
    height: fit-content;
    font-weight: bold;
}

.artistName {
    font-size: 14px;
    height: fit-content;
    
}

.spacer {
    margin-bottom: 100px;
}

.albumItem {
    display: grid;
    align-items: center;
    margin-right: 50px;
    height: fit-content;
    width: fit-content;
    padding: 15px;
}

.albumItem:hover {
    background-color: rgb(55, 54, 54);
    height: fit-content;
    cursor: pointer;
    border-radius: 10px;
}

#albumPhoto {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    box-sizing: border-box;
}