.playlistEditForm {
    height: 100%;
    margin-left: 20vw;
    margin-top: 5vh;
}

.editingPlaylistHeader {
    font-size: 3vw;
    overflow-y: scroll;
}

.editTitleSection {
    position: relative;
    top: 10vh;
    display: grid;
}

.editTitleHeader {
    font-size: 20px;
    margin-bottom: 10px;
}

.editDescriptionSection {
    position: relative;
    top: 17vh;
    display: grid;
}

.editDescriptionHeader {
    font-size: 2vw;
    margin-bottom: 10px;
}

.editPublicSection {
    position: relative;
    top: 24vh;
    display: grid;
}

.editPublicHeader {
    font-size: 20px;
    margin-bottom: 10px;
}

.submitEditSection {
    position: relative;
    top: 40vh;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.publicButton {
    margin-right: 3vw;
}

.cancelEditPlaylist {
    color: white;
}

.cancelEditPlaylist:hover {
    cursor: pointer;
}

.submitEditPlaylist {
    color: white;
}

.submitEditPlaylist:hover {
    cursor: pointer;
}

.editTitleBox {
    height: 4vh;
    width: 30vw;
}

.editDescriptionBox {
    height: 10vh;
    width: 40vw;
    resize: none;
}