.newPlaylistPage {
    position: relative;
    height: 85%; 
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.playlistHeaderSection {
  position: relative;
  display: flex;
  /* justify-content: center;
   */
  height: 50%;
  width: 95%;
}

.playlistHeaderPhotos {
  display: flex;
  flex-wrap: wrap;
  width: 20vw;
  /* margin-top: vh; */
  padding-left: 4vw;
  padding-top: 14.5vh;
  margin-left: 20vw;
  
}

.playlistHeaderPhotoObject {
  width: 8vw;
  height: 14vh;
}

.playlistHeadingWords {
  position: relative;
  margin-left: 4vw;
}

.playlistSongTitleHeader {
  color: rgb(171, 169, 169);
  font-size: 12px;
  position: relative;
  top: 25vh;
  left: 12.5vw;
  width: 87%;
  display: inline-block; 
  padding-bottom: 10px; 
}

.playlistSongTitleHeader::before {
  content: "";
  position: relative;
  bottom: 0;
  left: 0;
  width: 87%;
  height: 1px;
  background-color: rgba(72, 72, 72, 0.529); 
}

#dropdownPlaylist {
    color: white;
}

.playlistDropdownContainer {
    position: relative;
    display: inline-block;
    top: 15vh;
    left: 20vw;
  }
  
  .playlistDropdownButton {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .playlistDropdownButton:focus {
    outline: none;
  }
  
  .fa-solid.fa-ellipsis {
    font-size: 1.2rem;
    color: #b3b3b3;
  }
  
  .playlistDropdownContent {
    position:relative;
    right: 0px;
    top: 10px;
    background-color: #282828;
    min-width: 100px;
    z-index: 1;
    border-radius: 5px;
    padding: 5px 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .playlistDropdownContent button {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 10px 15px;
    text-align: left;
    width: 100%;
    cursor: pointer;
  }
  
  .playlistDropdownContent button:hover {
    background-color: #1db954;
  }
  
  

.newPlaylistTitle {
    position: relative;
    display: flex;
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-top: 25vh;
}

.newPlaylistDescription {
    position: relative;
    display: flex;
    margin-top: 8vh;
}

.playlistEditButton {
    color: white;
}

.playlistEditButton:hover {
    cursor: pointer;
}

.playlistDeleteButton {
    color: white;
}

.playlistDeleteButton:hover {
    cursor: pointer;
}

#bigPlayButtonPlaylist {
    margin-right: 40px;
    color: #1ed760;
    font-size: 70px;
}

.playlistSongsList {
    display: block;
    position: relative;
    top: 32vh;
    left: -65vw;
}

.playlistSongObject {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.playlistSongPhoto {
  height: 5vh;
  width: 3vw;
  margin-right: 1vw;
  position: relative;
}

.deletePlaylistSong {
  color: white;
  display: flex;
  white-space: nowrap;
  /* margin-left: 600px; */
}