.newPlaylistPage {
    position: fixed;
    top: 70px;
    left: 300px;
    color: white;
}

/* .playlistTopColor {
    position: absolute;
    top: 40px;
    left: 250px;
    background-image: linear-gradient(rgba(164, 94, 94, 0.5),rgba(102, 44, 44, 0.5), rgba(40, 14, 14, 0.5));
    height: 45%;
    width: 95%;
} */

.playlistSongTitleHeader {
  color: rgb(171, 169, 169);
  font-size: 12px;
  position: relative;
  top: 55vh;
  left: .5vw;
  width: 87%;
  display: inline-block; 
  padding-bottom: 10px; 
}

.playlistSongTitleHeader::before {
  content: "";
  position: relative;
  bottom: 0;
  left: 0;
  width: 87%;
  height: 1px;
  background-color: rgba(72, 72, 72, 0.529); 
}

#dropdownPlaylist {
    color: white;
}

.playlistDropdownContainer {
    position: fixed;
    display: inline-block;
    top: 48vh;
    left: 20vw;
  }
  
  .playlistDropdownButton {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .playlistDropdownButton:focus {
    outline: none;
  }
  
  .fa-solid.fa-ellipsis {
    font-size: 1.2rem;
    color: #b3b3b3;
  }
  
  .playlistDropdownContent {
    position:relative;
    right: 0px;
    top: 10px;
    background-color: #282828;
    min-width: 100px;
    z-index: 1;
    border-radius: 5px;
    padding: 5px 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .playlistDropdownContent button {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 10px 15px;
    text-align: left;
    width: 100%;
    cursor: pointer;
  }
  
  .playlistDropdownContent button:hover {
    background-color: #1db954;
  }
  
  

.newPlaylistTitle {
    position: fixed;
    display: flex;
    top: 20vh;
    left: 38vw;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.newPlaylistDescription {
    position: fixed;
    display: flex;
    top: 33vh;
    left: 38vw;
}

.playlistEditButton {
    color: white;
}

.playlistEditButton:hover {
    cursor: pointer;
}

.playlistDeleteButton {
    color: white;
}

.playlistDeleteButton:hover {
    cursor: pointer;
}

#bigPlayButtonPlaylist {
    margin-right: 40px;
    color: #1ed760;
    font-size: 70px;
}

.playlistSongsList {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 62vh;
    left: 1.5vw;
}

.playlistSongObject {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.playlistSongPhoto {
  height: 5vh;
  width: 3vw;
  margin-right: 1vw;
}

.deletePlaylistSong {
  color: white;
  display: flex;
  white-space: nowrap;
  margin-left: 600px;
}