.loginPage {
    height: 100vh;
    width: 100%;
    background-color: white;
    /* display: flex;
    justify-content: center; */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    width: 230px;
    height: 80px;
}

#logoImage {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-width: 100%;
    border-bottom: 1px solid lightgray;
}


.loginForm {
    color: black;
    height: fit-content;
    width: 100%;
    /* margin-top: px; */
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-width: 100%;

}

.loginForm > * {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#fieldLabel {
    font-weight: bold;
}

#textField {
    margin-top: 7px;
    margin-bottom: 13px;
    height: 45px;
    width: 450px;
}

.buttons { 
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

#demoButton {
    background-color: #1ed760;
    font-weight: bold;
    font-size: 14px;
    border-radius: 40px;
    border: none;  
    height: 50px;
    width: 135px;
    margin-top: 30px;
    /* margin-left: 100px; */
    margin-bottom: 20px; 
}

#submitButton {
    background-color: #1ed760;
    font-weight: bold;
    font-size: 14px;
    border-radius: 40px;
    border: none;  
    height: 50px;
    width: 135px;
    margin-top: 30px;
    margin-left: 180px;
    margin-bottom: 20px; 
}


