.loginPage {
    width: auto;
    background-color: white;
    /* padding-top: 10px; */
    overflow-y: hidden;
    height: 100vh;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 80px;
}

.staticButtons {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 50%;
}

#loginError {
    color: white;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#backgroundError {
    background-color: #E91429;
    height: 50px;
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


#logoImage {
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
    border-width: 100%;
    border-bottom: 1px solid lightgray;
}

#loginText {
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#linkedin {
    background-color: #1877f2;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 40px;
    border-color: grey; 
    height: 50px;
    margin-top: 0px;
    display: flex;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: -18px;
    width: 450px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#linkedin:hover {
    cursor: pointer;
    background-color: #3d8cf4;
}

#github {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 40px;
    border-color: grey; 
    height: 50px;
    margin-top: 10px;
    display: flex;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: -18px;
    width: 450px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#github:hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
}

.loginForm {
    color: black;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 30px;
}

.loginForm > * {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#fieldLabel {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 8px;
}

#textField {
    margin-top: 7px;
    /* margin-bottom: 18px; */
    height: 45px;
    width: 450px;
}

.buttons { 
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-width: 100%;
    border-bottom: 1px solid lightgray;
}

#demoButton {
    background-color: #1ed760;
    font-weight: bold;
    font-size: 14px;
    border-radius: 40px;
    border: none;  
    height: 50px;
    width: 135px;
    margin-top: 30px;
    margin-bottom: 20px; 
}

#demoButton:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    background-color: #15ee61;
}

#submitButton {
    background-color: #1ed760;
    font-weight: bold;
    font-size: 14px;
    border-radius: 40px;
    border: none;  
    height: 50px;
    width: 135px;
    margin-top: 30px;
    margin-left: 180px;
    margin-bottom: 20px; 
}

#submitButton:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    background-color: #15ee61;
}

#signupText {
    font-weight: bold;
    font-size: 18px;
}

.signupLink {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#signupText {
    display: flex;
    justify-content: center;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#linkButton {
    background-color: #1ed760;
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-radius: 40px;
    text-decoration: none;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 350px;
    padding-top: 13px;
}

#linkButton:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    background-color: #15ee61;
}
