.topNav {
    position: fixed;
    padding-top: 40px;
    width: 100%;
    background-color: #090909;
    color: rgb(156, 154, 154);
    z-index: 8;
    
}

.loggedInNav {
    display: flex;
    position: fixed;
    right: 100px;
    top: 8px;
}

#githubNav {
    /* color: white; */
    font-size: 25px;
    margin-right: 20px;
    color: rgb(156, 154, 154)
}

#githubNav:hover {
  color: white;
}

#linkedinNav {
    color: rgb(156, 154, 154);
    font-size: 25px;
    margin-right: 20px;
}

#linkedinNav:hover {
  color: white;
}


#formLinks {
    display: flex;
    justify-content: end;
}

#navSignup {
    color: grey;
    position: fixed;
    right: 190px;
    top: 20px;
    text-decoration: none;
}

#navLogin {
    color: black;
    display: flex;
    position: fixed;
    right: 60px;
    top: 7px;
    text-decoration: none;
    background-color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 40px;
    border: none;  
    height: 40px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.profileSection {
    position: relative;
  }
  
  .profileButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: rgb(156, 154, 154);
    font-size: 25px;
    cursor: pointer;
    outline: none;
  }

  .profileButton:hover {
    color: white;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    padding: 8px;
    background-color: #282828;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    text-align: right;
  }
  
  .dropdown li {
    margin: 8px 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;

  }
  
  .dropdown button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
  }
