/* .topNav {
    display: flex;
    justify-content: flex-end;
}

#navLogin {
    margin-right: 65px;
    background-color: #1ed760;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    border-radius: 40px;
    border: none;  
    height: 50px;
    width: 100px;
    
}


#navSignup {
    margin-right: 50px;
    text-decoration: none;
} */