.topNav {
    position: absolute;
    right: 50px;
    top: 20px;
    background-color: white;
    color: white;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}


#navSignup {
    margin-right: 50px;
    text-decoration: none;
} 

#formLinks {
    display: flex;
}

#dropDown {
    display: flex;
}